body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

/* ul li {
  list-style: none;
} */
a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}
.main-section {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.main-content-section {
  margin: 60px 80px;
}

.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: black;
  margin-bottom: 10px;
}

.about-me {
  font-style: normal;
}
.about-me__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 17px;
}
.about-me__text {
  color: #595959;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 40px;
}

.my-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 25px;
  margin-top: 0;
}
.project-secion {
  margin-bottom: 50px;
}
.projects-list {
  padding-left: 17px;
  color: black;
}

.my-project-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: black;
}
.my-project-item a {
  color: #595959;
}

.my-project-item a:hover {
  color: #fb6d3a;
}

.my-project-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}
.my-project-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.my-project-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: black;
}
.work-experience-company {
  color: #fb6d3a;
}
.work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}
.work-experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}
.work-experience-devider {
  color: black;
}
.work-experience-duties {
  padding-left: 15px;
}
.work-experience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.my-education__name {
  font-weight: bold;
}
.my-education-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

li {
  color: #595959;
  font-size: 14px;
  line-height: 24px;
}

/* ------- sitebar-section --------- */

.sitebar-section {
  background-color: #86c6ca;
  min-width: 370px;
  padding: 30px 0;
}

.image-container {
  display: block;
  margin: 0 auto;
  width: 300px;
}
.contact,
.tech-skils,
.soft-skils,
.language-skils {
  margin: 50px 0 0 40px;
}

.contact__link,
.contact__adress {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #343e4d;
}
.contact__link:hover {
  color: #fb6d3a;
}
.contact__title,
.tech-skils__title,
.soft-skils__title,
.language-skils__title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 10px;
}

.contact-list,
.tech-skils__list,
.soft-skils__list,
.language-skils__list {
  padding-left: 17px;
}

.contact-list,
.language-skils__list {
  list-style: none;
}

.tech-skils__item,
.soft-skils__item,
.language-skils__item {
  color: #343e4d;
}
.tech-skils__text,
.soft-skils__text,
.language-skils__text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #343e4d;
}
